.NewBlogCard {
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    box-sizing: border-box;
    font-size: 24px;
    margin: 16px;
    padding: 16px;
    text-align: center;
  }

  .NewBlogCard > button {
    font-size: 24px;
  }

  .LikeCount {
    font-size: 28px;
    font-weight: 600;
  }

  @media (min-width: 992px) {
    .NewBlogCard {
        display: inline-block;
        width: 45%;
    }
  }